In [3]:
import pandas as pd

In [6]:
demand = pd.read_clipboard()
demand

          Demand  D_qty
0  East Coast BB   4080
1  East Coast SB   1121
2  West Coast BB    624
3     Salinas BB   5585
4             EU   4607
5          EEMEA      0
6             LA   1703
7     AP - China   3571
8          China   5345

In [46]:
supply = pd.read_clipboard()
supply

  Supplier         Location  Max_Capacity
0       BC     BC San Pedro         12480
1       BC      BC Malaysia          7200
2       BC  BC Pasir Gudang          7200
3     Olam   Olam Singapore          7500
4     Olam     Olam Holland          6000

In [44]:
base_cost = pd.read_clipboard()
base_cost

          Location  Cost
0     BC San Pedro  3496
1      BC Malaysia  3942
2  BC Pasir Gudang  3942
3   Olam Singapore  3836
4     Olam Holland  3278

In [80]:
df = pd.read_clipboard()
df3=df.rename_axis('dest').reset_index()
trans_cost=df3.melt(id_vars=["dest"], var_name="orig", value_name="Value")
trans_cost

             dest             orig  Value
0   East Coast BB     BC San Pedro    111
1   East Coast SB     BC San Pedro    111
2   West Coast BB     BC San Pedro    511
3      Salinas BB     BC San Pedro    620
4              EU     BC San Pedro     75
5           EEMEA     BC San Pedro    163
6              LA     BC San Pedro    120
7      AP - China     BC San Pedro    295
8           China     BC San Pedro    345
9   East Coast BB      BC Malaysia    240
10  East Coast SB      BC Malaysia    240
11  West Coast BB      BC Malaysia    240
12     Salinas BB      BC Malaysia    445
13             EU      BC Malaysia    162
14          EEMEA      BC Malaysia     41
15             LA      BC Malaysia    110
16     AP - China      BC Malaysia     60
17          China      BC Malaysia     60
18  East Coast BB  BC Pasir Gudang    240
19  East Coast SB  BC Pasir Gudang    240
20  West Coast BB  BC Pasir Gudang    240
21     Salinas BB  BC Pasir Gudang    445
22             EU  BC Pasir Gudang    162
23          EEMEA  BC Pasir Gudang     41
24             LA  BC Pasir Gudang    110
25     AP - China  BC Pasir Gudang     60
26          China  BC Pasir Gudang     60
27  East Coast BB   Olam Singapore    140
28  East Coast SB   Olam Singapore    140
29  West Coast BB   Olam Singapore    200
30     Salinas BB   Olam Singapore    350
31             EU   Olam Singapore    162
32          EEMEA   Olam Singapore     41
33             LA   Olam Singapore    250
34     AP - China   Olam Singapore     60
35          China   Olam Singapore     60
36  East Coast BB     Olam Holland    120
37  East Coast SB     Olam Holland    120
38  West Coast BB     Olam Holland    120
39     Salinas BB     Olam Holland    300
40             EU     Olam Holland     50
41          EEMEA     Olam Holland     62
42             LA     Olam Holland     80
43     AP - China     Olam Holland    295
44          China     Olam Holland    403

In [120]:
import pandas as pd
import numpy as np
from pulp import *
from collections import defaultdict

In [121]:
#suppliers = range(supply.shape[0])
#customers = range(demand.shape[0])

suppliers = supply['Location'].unique()
customers = demand['Demand'].unique()

BC_supp=['BC San Pedro', 'BC Malaysia', 'BC Pasir Gudang']

flow = [(s,c) for s in suppliers for c in customers]

prob = LpProblem("Least_cost_Network",LpMinimize)

flows = LpVariable.dicts("s-D-flow",flow, lowBound = 0, cat="Continuous")
supp = LpVariable.dicts("Supp_select",suppliers, cat="Binary") #in million-tons
penalty = LpVariable('Is_penalty', cat="Binary")

In [122]:
dict_demand=demand.set_index(['Demand']).D_qty.to_dict()
dict_supply=supply.set_index(['Location']).Max_Capacity.to_dict()

dict_base_cost=base_cost.set_index(['Location']).Cost.to_dict()
dict_trans_cost=trans_cost.set_index(['orig','dest']).Value.to_dict()

In [123]:
# objective function

## Delivered cost = Base Cost + Freight Cost + Any taxes/duties

prob += (
    lpSum([supp[s] * dict_base_cost[s]  for s in suppliers]) + lpSum([flows[f] * dict_trans_cost[f]  for f in flow]) + 125*penalty
)

In [124]:
## Demand Constraint

for c in customers:
    prob += (
        lpSum( flows[(s,c)] for s in suppliers ) >= dict_demand[c]
    )

In [125]:
## Supply Constraint
## Flow cannot be there if supply point is not active.

for s in suppliers:
    prob += (
        lpSum( flows[(s,c)] for c in customers ) <= dict_supply[s]*supp[s]
    )

In [126]:
## Penalty incurred If BC Supply <19000 tons.

prob += (
        lpSum( flows[(s,c)] for s in suppliers for c in customers if s in BC_supp) <= 26880*(1-penalty) + 19000*(penalty)
    )

In [128]:
prob.writeLP("pricing.lp")

# The problem is solved using PuLP's choice of Solver
prob.solve()

# The status of the solution is printed to the screen
print("Status:", LpStatus[prob.status])

for v in prob.variables():
    print(v.name, "=", v.varValue)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/Z003CNF/opt/anaconda3/lib/python3.9/site-packages/pulp/apis/../solverdir/cbc/osx/64/cbc /var/folders/my/1126m1255k36stt7f2r98h_w0000gq/T/5fd9f3417d0f4738bb60027f34a080f9-pulp.mps timeMode elapsed branch printingOptions all solution /var/folders/my/1126m1255k36stt7f2r98h_w0000gq/T/5fd9f3417d0f4738bb60027f34a080f9-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 20 COLUMNS
At line 207 RHS
At line 223 BOUNDS
At line 230 ENDATA
Problem MODEL has 15 rows, 51 columns and 123 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 3.41764e+06 - 0.00 seconds
Cgl0004I processed model has 14 rows, 45 columns (5 integer (5 of which binary)) and 109 elements
Cbc0038I Initial state - 2 integers unsatisfied sum - 0.676325
Cbc0038I Pass   1: suminf.    0.09111 (1) obj. 3.80927e+06 iterations 3
Cbc0038I Solution found of 3.81285e+06
Cbc0038I Relaxing continuous gives 3.42051e+06
Cbc0038I Before mini branch and bound, 3 integers at bound fixed and 28 continuous
Cbc0038I Full problem 14 rows 45 columns, reduced to 7 rows 8 columns
Cbc0038I Mini branch and bound did not improve solution (0.02 seconds)
Cbc0038I Round again with cutoff of 3.42022e+06
Cbc0038I Reduced cost fixing fixed 1 variables on major pass 2
Cbc0038I Pass   2: suminf.    0.43529 (1) obj. 3.42022e+06 iterations 3
Cbc0038I Pass   3: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 3
Cbc0038I Pass   4: suminf.    0.21560 (1) obj. 3.42022e+06 iterations 4
Cbc0038I Pass   5: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 2
Cbc0038I Pass   6: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass   7: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass   8: suminf.    0.45994 (1) obj. 3.42022e+06 iterations 4
Cbc0038I Pass   9: suminf.    0.45994 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  10: suminf.    0.15464 (2) obj. 3.42022e+06 iterations 3
Cbc0038I Pass  11: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 4
Cbc0038I Pass  12: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  13: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  14: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  15: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  16: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  17: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  18: suminf.    0.43529 (1) obj. 3.42022e+06 iterations 3
Cbc0038I Pass  19: suminf.    0.47965 (2) obj. 3.42022e+06 iterations 8
Cbc0038I Pass  20: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 3
Cbc0038I Pass  21: suminf.    0.21560 (1) obj. 3.42022e+06 iterations 4
Cbc0038I Pass  22: suminf.    0.47965 (2) obj. 3.42022e+06 iterations 4
Cbc0038I Pass  23: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 3
Cbc0038I Pass  24: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 3
Cbc0038I Pass  25: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  26: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  27: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  28: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  29: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  30: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Pass  31: suminf.    0.07277 (1) obj. 3.42022e+06 iterations 0
Cbc0038I Before mini branch and bound, 1 integers at bound fixed and 24 continuous
Cbc0038I Full problem 14 rows 45 columns, reduced to 11 rows 15 columns
Cbc0038I Mini branch and bound did not improve solution (0.02 seconds)
Cbc0038I Round again with cutoff of 3.4197e+06
Cbc0038I Reduced cost fixing fixed 1 variables on major pass 3
Cbc0038I Pass  31: suminf.    0.44287 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  32: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 3
Cbc0038I Pass  33: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  34: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  35: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  36: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  37: suminf.    0.22797 (2) obj. 3.4197e+06 iterations 1
Cbc0038I Pass  38: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 1
Cbc0038I Pass  39: suminf.    0.28562 (2) obj. 3.4197e+06 iterations 6
Cbc0038I Pass  40: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 5
Cbc0038I Pass  41: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  42: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  43: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  44: suminf.    0.44287 (1) obj. 3.4197e+06 iterations 3
Cbc0038I Pass  45: suminf.    0.44287 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  46: suminf.    0.44287 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  47: suminf.    0.62985 (2) obj. 3.4197e+06 iterations 1
Cbc0038I Pass  48: suminf.    0.44287 (1) obj. 3.4197e+06 iterations 1
Cbc0038I Pass  49: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 3
Cbc0038I Pass  50: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  51: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 0
Cbc0038I Pass  52: suminf.    0.46719 (1) obj. 3.4197e+06 iterations 4
Cbc0038I Pass  53: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 2
Cbc0038I Pass  54: suminf.    0.30984 (3) obj. 3.4197e+06 iterations 5
Cbc0038I Pass  55: suminf.    0.28562 (2) obj. 3.4197e+06 iterations 1
Cbc0038I Pass  56: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 4
Cbc0038I Pass  57: suminf.    0.44287 (1) obj. 3.4197e+06 iterations 3
Cbc0038I Pass  58: suminf.    0.62985 (2) obj. 3.4197e+06 iterations 1
Cbc0038I Pass  59: suminf.    0.44287 (1) obj. 3.4197e+06 iterations 1
Cbc0038I Pass  60: suminf.    0.20374 (1) obj. 3.4197e+06 iterations 3
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 1 integers at bound fixed and 26 continuous
Cbc0038I Full problem 14 rows 45 columns, reduced to 8 rows 12 columns
Cbc0038I Mini branch and bound did not improve solution (0.03 seconds)
Cbc0038I After 0.03 seconds - Feasibility pump exiting with objective of 3.42051e+06 - took 0.01 seconds
Cbc0012I Integer solution of 3420508 found by feasibility pump after 0 iterations and 0 nodes (0.03 seconds)
Cbc0038I Full problem 14 rows 45 columns, reduced to 13 rows 34 columns
Cbc0031I 3 added rows had average density of 16.333333
Cbc0013I At root node, 3 cuts changed objective from 3417639.6 to 3420508 in 23 passes
Cbc0014I Cut generator 0 (Probing) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 1 (Gomory) - 40 row cuts average 22.1 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0014I Cut generator 2 (Knapsack) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 4 (MixedIntegerRounding2) - 1 row cuts average 16.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 5 (FlowCover) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 6 (TwoMirCuts) - 14 row cuts average 17.9 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0001I Search completed - best objective 3420508, took 64 iterations and 0 nodes (0.03 seconds)
Cbc0032I Strong branching done 4 times (16 iterations), fathomed 1 nodes and fixed 0 variables
Cbc0035I Maximum depth 0, 2 variables fixed on reduced cost
Cuts at root node changed objective from 3.41764e+06 to 3.42051e+06
Probing was tried 23 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
Gomory was tried 23 times and created 40 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 23 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
Clique was tried 23 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 23 times and created 1 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 23 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
TwoMirCuts was tried 23 times and created 14 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                3420508.00000000
Enumerated nodes:               0
Total iterations:               64
Time (CPU seconds):             0.02
Time (Wallclock seconds):       0.03

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.02   (Wallclock seconds):       0.04

Status: Optimal
Is_penalty = 0.0
Supp_select_BC_Malaysia = 1.0
Supp_select_BC_Pasir_Gudang = 0.0
Supp_select_BC_San_Pedro = 1.0
Supp_select_Olam_Holland = 1.0
Supp_select_Olam_Singapore = 1.0
s_D_flow_('BC_Malaysia',_'AP___China') = 3571.0
s_D_flow_('BC_Malaysia',_'China') = 0.0
s_D_flow_('BC_Malaysia',_'EEMEA') = 0.0
s_D_flow_('BC_Malaysia',_'EU') = 0.0
s_D_flow_('BC_Malaysia',_'East_Coast_BB') = 0.0
s_D_flow_('BC_Malaysia',_'East_Coast_SB') = 0.0
s_D_flow_('BC_Malaysia',_'LA') = 1703.0
s_D_flow_('BC_Malaysia',_'Salinas_BB') = 0.0
s_D_flow_('BC_Malaysia',_'West_Coast_BB') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'AP___China') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'China') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'EEMEA') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'EU') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'East_Coast_BB') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'East_Coast_SB') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'LA') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'Salinas_BB') = 0.0
s_D_flow_('BC_Pasir_Gudang',_'West_Coast_BB') = 0.0
s_D_flow_('BC_San_Pedro',_'AP___China') = 0.0
s_D_flow_('BC_San_Pedro',_'China') = 0.0
s_D_flow_('BC_San_Pedro',_'EEMEA') = 0.0
s_D_flow_('BC_San_Pedro',_'EU') = 4607.0
s_D_flow_('BC_San_Pedro',_'East_Coast_BB') = 4080.0
s_D_flow_('BC_San_Pedro',_'East_Coast_SB') = 1121.0
s_D_flow_('BC_San_Pedro',_'LA') = 0.0
s_D_flow_('BC_San_Pedro',_'Salinas_BB') = 0.0
s_D_flow_('BC_San_Pedro',_'West_Coast_BB') = 0.0
s_D_flow_('Olam_Holland',_'AP___China') = 0.0
s_D_flow_('Olam_Holland',_'China') = 0.0
s_D_flow_('Olam_Holland',_'EEMEA') = 0.0
s_D_flow_('Olam_Holland',_'EU') = 0.0
s_D_flow_('Olam_Holland',_'East_Coast_BB') = 0.0
s_D_flow_('Olam_Holland',_'East_Coast_SB') = 0.0
s_D_flow_('Olam_Holland',_'LA') = 0.0
s_D_flow_('Olam_Holland',_'Salinas_BB') = 5376.0
s_D_flow_('Olam_Holland',_'West_Coast_BB') = 624.0
s_D_flow_('Olam_Singapore',_'AP___China') = 0.0
s_D_flow_('Olam_Singapore',_'China') = 5345.0
s_D_flow_('Olam_Singapore',_'EEMEA') = 0.0
s_D_flow_('Olam_Singapore',_'EU') = 0.0
s_D_flow_('Olam_Singapore',_'East_Coast_BB') = 0.0
s_D_flow_('Olam_Singapore',_'East_Coast_SB') = 0.0
s_D_flow_('Olam_Singapore',_'LA') = 0.0
s_D_flow_('Olam_Singapore',_'Salinas_BB') = 209.0
s_D_flow_('Olam_Singapore',_'West_Coast_BB') = 0.0

In [130]:
output = []
for v in prob.variables():
    if v.varValue > 0.01 :
        output.append(str(v.name) + "=" + str(v.varValue))
        
df = pd.DataFrame({'col': output})
df

                                                  col
0                         Supp_select_BC_Malaysia=1.0
1                        Supp_select_BC_San_Pedro=1.0
2                        Supp_select_Olam_Holland=1.0
3                      Supp_select_Olam_Singapore=1.0
4       s_D_flow_('BC_Malaysia',_'AP___China')=3571.0
5               s_D_flow_('BC_Malaysia',_'LA')=1703.0
6              s_D_flow_('BC_San_Pedro',_'EU')=4607.0
7   s_D_flow_('BC_San_Pedro',_'East_Coast_BB')=4080.0
8   s_D_flow_('BC_San_Pedro',_'East_Coast_SB')=1121.0
9      s_D_flow_('Olam_Holland',_'Salinas_BB')=5376.0
10   s_D_flow_('Olam_Holland',_'West_Coast_BB')=624.0
11        s_D_flow_('Olam_Singapore',_'China')=5345.0
12    s_D_flow_('Olam_Singapore',_'Salinas_BB')=209.0

In [127]:
print(prob)

Least_cost_Network:
MINIMIZE
125*Is_penalty + 3942*Supp_select_BC_Malaysia + 3942*Supp_select_BC_Pasir_Gudang + 3496*Supp_select_BC_San_Pedro + 3278*Supp_select_Olam_Holland + 3836*Supp_select_Olam_Singapore + 60*s_D_flow_('BC_Malaysia',_'AP___China') + 60*s_D_flow_('BC_Malaysia',_'China') + 41*s_D_flow_('BC_Malaysia',_'EEMEA') + 162*s_D_flow_('BC_Malaysia',_'EU') + 240*s_D_flow_('BC_Malaysia',_'East_Coast_BB') + 240*s_D_flow_('BC_Malaysia',_'East_Coast_SB') + 110*s_D_flow_('BC_Malaysia',_'LA') + 445*s_D_flow_('BC_Malaysia',_'Salinas_BB') + 240*s_D_flow_('BC_Malaysia',_'West_Coast_BB') + 60*s_D_flow_('BC_Pasir_Gudang',_'AP___China') + 60*s_D_flow_('BC_Pasir_Gudang',_'China') + 41*s_D_flow_('BC_Pasir_Gudang',_'EEMEA') + 162*s_D_flow_('BC_Pasir_Gudang',_'EU') + 240*s_D_flow_('BC_Pasir_Gudang',_'East_Coast_BB') + 240*s_D_flow_('BC_Pasir_Gudang',_'East_Coast_SB') + 110*s_D_flow_('BC_Pasir_Gudang',_'LA') + 445*s_D_flow_('BC_Pasir_Gudang',_'Salinas_BB') + 240*s_D_flow_('BC_Pasir_Gudang',_'West_Coast_BB') + 295*s_D_flow_('BC_San_Pedro',_'AP___China') + 345*s_D_flow_('BC_San_Pedro',_'China') + 163*s_D_flow_('BC_San_Pedro',_'EEMEA') + 75*s_D_flow_('BC_San_Pedro',_'EU') + 111*s_D_flow_('BC_San_Pedro',_'East_Coast_BB') + 111*s_D_flow_('BC_San_Pedro',_'East_Coast_SB') + 120*s_D_flow_('BC_San_Pedro',_'LA') + 620*s_D_flow_('BC_San_Pedro',_'Salinas_BB') + 511*s_D_flow_('BC_San_Pedro',_'West_Coast_BB') + 295*s_D_flow_('Olam_Holland',_'AP___China') + 403*s_D_flow_('Olam_Holland',_'China') + 62*s_D_flow_('Olam_Holland',_'EEMEA') + 50*s_D_flow_('Olam_Holland',_'EU') + 120*s_D_flow_('Olam_Holland',_'East_Coast_BB') + 120*s_D_flow_('Olam_Holland',_'East_Coast_SB') + 80*s_D_flow_('Olam_Holland',_'LA') + 300*s_D_flow_('Olam_Holland',_'Salinas_BB') + 120*s_D_flow_('Olam_Holland',_'West_Coast_BB') + 60*s_D_flow_('Olam_Singapore',_'AP___China') + 60*s_D_flow_('Olam_Singapore',_'China') + 41*s_D_flow_('Olam_Singapore',_'EEMEA') + 162*s_D_flow_('Olam_Singapore',_'EU') + 140*s_D_flow_('Olam_Singapore',_'East_Coast_BB') + 140*s_D_flow_('Olam_Singapore',_'East_Coast_SB') + 250*s_D_flow_('Olam_Singapore',_'LA') + 350*s_D_flow_('Olam_Singapore',_'Salinas_BB') + 200*s_D_flow_('Olam_Singapore',_'West_Coast_BB') + 0
SUBJECT TO
_C1: s_D_flow_('BC_Malaysia',_'East_Coast_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'East_Coast_BB')
 + s_D_flow_('BC_San_Pedro',_'East_Coast_BB')
 + s_D_flow_('Olam_Holland',_'East_Coast_BB')
 + s_D_flow_('Olam_Singapore',_'East_Coast_BB') >= 4080

_C2: s_D_flow_('BC_Malaysia',_'East_Coast_SB')
 + s_D_flow_('BC_Pasir_Gudang',_'East_Coast_SB')
 + s_D_flow_('BC_San_Pedro',_'East_Coast_SB')
 + s_D_flow_('Olam_Holland',_'East_Coast_SB')
 + s_D_flow_('Olam_Singapore',_'East_Coast_SB') >= 1121

_C3: s_D_flow_('BC_Malaysia',_'West_Coast_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'West_Coast_BB')
 + s_D_flow_('BC_San_Pedro',_'West_Coast_BB')
 + s_D_flow_('Olam_Holland',_'West_Coast_BB')
 + s_D_flow_('Olam_Singapore',_'West_Coast_BB') >= 624

_C4: s_D_flow_('BC_Malaysia',_'Salinas_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'Salinas_BB')
 + s_D_flow_('BC_San_Pedro',_'Salinas_BB')
 + s_D_flow_('Olam_Holland',_'Salinas_BB')
 + s_D_flow_('Olam_Singapore',_'Salinas_BB') >= 5585

_C5: s_D_flow_('BC_Malaysia',_'EU') + s_D_flow_('BC_Pasir_Gudang',_'EU')
 + s_D_flow_('BC_San_Pedro',_'EU') + s_D_flow_('Olam_Holland',_'EU')
 + s_D_flow_('Olam_Singapore',_'EU') >= 4607

_C6: s_D_flow_('BC_Malaysia',_'EEMEA') + s_D_flow_('BC_Pasir_Gudang',_'EEMEA')
 + s_D_flow_('BC_San_Pedro',_'EEMEA') + s_D_flow_('Olam_Holland',_'EEMEA')
 + s_D_flow_('Olam_Singapore',_'EEMEA') >= 0

_C7: s_D_flow_('BC_Malaysia',_'LA') + s_D_flow_('BC_Pasir_Gudang',_'LA')
 + s_D_flow_('BC_San_Pedro',_'LA') + s_D_flow_('Olam_Holland',_'LA')
 + s_D_flow_('Olam_Singapore',_'LA') >= 1703

_C8: s_D_flow_('BC_Malaysia',_'AP___China')
 + s_D_flow_('BC_Pasir_Gudang',_'AP___China')
 + s_D_flow_('BC_San_Pedro',_'AP___China')
 + s_D_flow_('Olam_Holland',_'AP___China')
 + s_D_flow_('Olam_Singapore',_'AP___China') >= 3571

_C9: s_D_flow_('BC_Malaysia',_'China') + s_D_flow_('BC_Pasir_Gudang',_'China')
 + s_D_flow_('BC_San_Pedro',_'China') + s_D_flow_('Olam_Holland',_'China')
 + s_D_flow_('Olam_Singapore',_'China') >= 5345

_C10: - 12480 Supp_select_BC_San_Pedro
 + s_D_flow_('BC_San_Pedro',_'AP___China')
 + s_D_flow_('BC_San_Pedro',_'China') + s_D_flow_('BC_San_Pedro',_'EEMEA')
 + s_D_flow_('BC_San_Pedro',_'EU')
 + s_D_flow_('BC_San_Pedro',_'East_Coast_BB')
 + s_D_flow_('BC_San_Pedro',_'East_Coast_SB')
 + s_D_flow_('BC_San_Pedro',_'LA') + s_D_flow_('BC_San_Pedro',_'Salinas_BB')
 + s_D_flow_('BC_San_Pedro',_'West_Coast_BB') <= 0

_C11: - 7200 Supp_select_BC_Malaysia + s_D_flow_('BC_Malaysia',_'AP___China')
 + s_D_flow_('BC_Malaysia',_'China') + s_D_flow_('BC_Malaysia',_'EEMEA')
 + s_D_flow_('BC_Malaysia',_'EU') + s_D_flow_('BC_Malaysia',_'East_Coast_BB')
 + s_D_flow_('BC_Malaysia',_'East_Coast_SB') + s_D_flow_('BC_Malaysia',_'LA')
 + s_D_flow_('BC_Malaysia',_'Salinas_BB')
 + s_D_flow_('BC_Malaysia',_'West_Coast_BB') <= 0

_C12: - 7200 Supp_select_BC_Pasir_Gudang
 + s_D_flow_('BC_Pasir_Gudang',_'AP___China')
 + s_D_flow_('BC_Pasir_Gudang',_'China')
 + s_D_flow_('BC_Pasir_Gudang',_'EEMEA') + s_D_flow_('BC_Pasir_Gudang',_'EU')
 + s_D_flow_('BC_Pasir_Gudang',_'East_Coast_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'East_Coast_SB')
 + s_D_flow_('BC_Pasir_Gudang',_'LA')
 + s_D_flow_('BC_Pasir_Gudang',_'Salinas_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'West_Coast_BB') <= 0

_C13: - 7500 Supp_select_Olam_Singapore
 + s_D_flow_('Olam_Singapore',_'AP___China')
 + s_D_flow_('Olam_Singapore',_'China') + s_D_flow_('Olam_Singapore',_'EEMEA')
 + s_D_flow_('Olam_Singapore',_'EU')
 + s_D_flow_('Olam_Singapore',_'East_Coast_BB')
 + s_D_flow_('Olam_Singapore',_'East_Coast_SB')
 + s_D_flow_('Olam_Singapore',_'LA')
 + s_D_flow_('Olam_Singapore',_'Salinas_BB')
 + s_D_flow_('Olam_Singapore',_'West_Coast_BB') <= 0

_C14: - 6000 Supp_select_Olam_Holland
 + s_D_flow_('Olam_Holland',_'AP___China')
 + s_D_flow_('Olam_Holland',_'China') + s_D_flow_('Olam_Holland',_'EEMEA')
 + s_D_flow_('Olam_Holland',_'EU')
 + s_D_flow_('Olam_Holland',_'East_Coast_BB')
 + s_D_flow_('Olam_Holland',_'East_Coast_SB')
 + s_D_flow_('Olam_Holland',_'LA') + s_D_flow_('Olam_Holland',_'Salinas_BB')
 + s_D_flow_('Olam_Holland',_'West_Coast_BB') <= 0

_C15: 7880 Is_penalty + s_D_flow_('BC_Malaysia',_'AP___China')
 + s_D_flow_('BC_Malaysia',_'China') + s_D_flow_('BC_Malaysia',_'EEMEA')
 + s_D_flow_('BC_Malaysia',_'EU') + s_D_flow_('BC_Malaysia',_'East_Coast_BB')
 + s_D_flow_('BC_Malaysia',_'East_Coast_SB') + s_D_flow_('BC_Malaysia',_'LA')
 + s_D_flow_('BC_Malaysia',_'Salinas_BB')
 + s_D_flow_('BC_Malaysia',_'West_Coast_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'AP___China')
 + s_D_flow_('BC_Pasir_Gudang',_'China')
 + s_D_flow_('BC_Pasir_Gudang',_'EEMEA') + s_D_flow_('BC_Pasir_Gudang',_'EU')
 + s_D_flow_('BC_Pasir_Gudang',_'East_Coast_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'East_Coast_SB')
 + s_D_flow_('BC_Pasir_Gudang',_'LA')
 + s_D_flow_('BC_Pasir_Gudang',_'Salinas_BB')
 + s_D_flow_('BC_Pasir_Gudang',_'West_Coast_BB')
 + s_D_flow_('BC_San_Pedro',_'AP___China')
 + s_D_flow_('BC_San_Pedro',_'China') + s_D_flow_('BC_San_Pedro',_'EEMEA')
 + s_D_flow_('BC_San_Pedro',_'EU')
 + s_D_flow_('BC_San_Pedro',_'East_Coast_BB')
 + s_D_flow_('BC_San_Pedro',_'East_Coast_SB')
 + s_D_flow_('BC_San_Pedro',_'LA') + s_D_flow_('BC_San_Pedro',_'Salinas_BB')
 + s_D_flow_('BC_San_Pedro',_'West_Coast_BB') <= 26880

VARIABLES
0 <= Is_penalty <= 1 Integer
0 <= Supp_select_BC_Malaysia <= 1 Integer
0 <= Supp_select_BC_Pasir_Gudang <= 1 Integer
0 <= Supp_select_BC_San_Pedro <= 1 Integer
0 <= Supp_select_Olam_Holland <= 1 Integer
0 <= Supp_select_Olam_Singapore <= 1 Integer
s_D_flow_('BC_Malaysia',_'AP___China') Continuous
s_D_flow_('BC_Malaysia',_'China') Continuous
s_D_flow_('BC_Malaysia',_'EEMEA') Continuous
s_D_flow_('BC_Malaysia',_'EU') Continuous
s_D_flow_('BC_Malaysia',_'East_Coast_BB') Continuous
s_D_flow_('BC_Malaysia',_'East_Coast_SB') Continuous
s_D_flow_('BC_Malaysia',_'LA') Continuous
s_D_flow_('BC_Malaysia',_'Salinas_BB') Continuous
s_D_flow_('BC_Malaysia',_'West_Coast_BB') Continuous
s_D_flow_('BC_Pasir_Gudang',_'AP___China') Continuous
s_D_flow_('BC_Pasir_Gudang',_'China') Continuous
s_D_flow_('BC_Pasir_Gudang',_'EEMEA') Continuous
s_D_flow_('BC_Pasir_Gudang',_'EU') Continuous
s_D_flow_('BC_Pasir_Gudang',_'East_Coast_BB') Continuous
s_D_flow_('BC_Pasir_Gudang',_'East_Coast_SB') Continuous
s_D_flow_('BC_Pasir_Gudang',_'LA') Continuous
s_D_flow_('BC_Pasir_Gudang',_'Salinas_BB') Continuous
s_D_flow_('BC_Pasir_Gudang',_'West_Coast_BB') Continuous
s_D_flow_('BC_San_Pedro',_'AP___China') Continuous
s_D_flow_('BC_San_Pedro',_'China') Continuous
s_D_flow_('BC_San_Pedro',_'EEMEA') Continuous
s_D_flow_('BC_San_Pedro',_'EU') Continuous
s_D_flow_('BC_San_Pedro',_'East_Coast_BB') Continuous
s_D_flow_('BC_San_Pedro',_'East_Coast_SB') Continuous
s_D_flow_('BC_San_Pedro',_'LA') Continuous
s_D_flow_('BC_San_Pedro',_'Salinas_BB') Continuous
s_D_flow_('BC_San_Pedro',_'West_Coast_BB') Continuous
s_D_flow_('Olam_Holland',_'AP___China') Continuous
s_D_flow_('Olam_Holland',_'China') Continuous
s_D_flow_('Olam_Holland',_'EEMEA') Continuous
s_D_flow_('Olam_Holland',_'EU') Continuous
s_D_flow_('Olam_Holland',_'East_Coast_BB') Continuous
s_D_flow_('Olam_Holland',_'East_Coast_SB') Continuous
s_D_flow_('Olam_Holland',_'LA') Continuous
s_D_flow_('Olam_Holland',_'Salinas_BB') Continuous
s_D_flow_('Olam_Holland',_'West_Coast_BB') Continuous
s_D_flow_('Olam_Singapore',_'AP___China') Continuous
s_D_flow_('Olam_Singapore',_'China') Continuous
s_D_flow_('Olam_Singapore',_'EEMEA') Continuous
s_D_flow_('Olam_Singapore',_'EU') Continuous
s_D_flow_('Olam_Singapore',_'East_Coast_BB') Continuous
s_D_flow_('Olam_Singapore',_'East_Coast_SB') Continuous
s_D_flow_('Olam_Singapore',_'LA') Continuous
s_D_flow_('Olam_Singapore',_'Salinas_BB') Continuous
s_D_flow_('Olam_Singapore',_'West_Coast_BB') Continuous